
@media screen and (min-width: 320px) and (max-width: 768px) {
    .places{
        margin: 0 auto 66px;
        width: 99%;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .places{
        margin: 0 auto 0;
        width: 720px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .places{
        margin: 0 auto 0;
        width: 928px;
    }
}

@media screen and (min-width: 1280px){
    .places{
        margin: 0 auto 0;
        width: 984px;
    }
}