
@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__links{
        display: flex;
        justify-content: flex-end;
        margin-right: 16px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header__links{
        display: flex;
        justify-content: flex-end;
        margin-right: 24px; 
    }
}
@media screen and (min-width: 1024px){
    .header__links{
        display: flex;
        justify-content: flex-end;
        margin-right: 48px; 
    }
}