

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__image{
        margin: 32px auto;
        width: 320px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__image{
        margin: 48px 28px 0 0;
        width: 340px;
        height: 340px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .place__image{
        margin: 48px 32px 0 0;
        width: 440px;
    }
}

@media screen and (min-width: 1280px){
    .place__image{
        margin: 48px 40px 0 0;
        width: 460px;
    }
}