
@media screen and (min-width: 320px) and (max-width: 768px) {
    .cover__subtitle{
        width: 288px;
        margin: 0 auto;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        z-index: 2;
    }
}
@media screen and (min-width: 768px){
    .cover__subtitle{
        width: 360px;
        margin: 0 auto;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        z-index: 2;
    }
}