

@media screen and (min-width: 320px) and (max-width: 768px){
    .header__link{
        display: inline-block;
        margin: 18px 0 6px 18px;
        width: 30px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        text-decoration-line: none;
        color: #FFFFFF;
    }
    .header__link:hover{
        text-decoration-line: underline;
    }
}

@media screen and (min-width: 768px){
    .header__link{
        display: inline-block;
        margin: 18px 0 6px 18px;
        width: 30px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        text-decoration-line: none;
        color: #FFFFFF;
    }
    .header__link:hover{
        text-decoration-line: underline;
    }
}
