

@media screen and (min-width: 320px) and (max-width: 768px) {
    .footer__link{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration: none;
        margin-bottom: 32px;
    }
    .footer__link:nth-of-type(5n){
        margin-top: 0;
    }
}

@media screen and (min-width: 768px){
    .footer__link{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        margin-right: 18px;
        text-decoration: none;
    }
}