
@media screen and (min-width: 320px) and (max-width: 768px) {
    .footer__links{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .footer__links{
        display: flex;
        flex-direction: row;
        margin-left: 48px;
    }
}