
@media screen and (min-width: 320px) and (max-width: 768px) {
    .footer__links{
        display: flex;
        padding-left: 0;
        margin: 0;
        flex-direction: column;
        list-style-type: none;
    }
}

@media screen and (min-width: 768px){
    .footer__links{
        display: flex;
        margin: 0;
        flex-direction: row;
        padding-left: 0;
        margin-left: 48px;
        list-style-type: none;
    }
}