

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__paragraph{
        margin: 0;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .place__paragraph:nth-of-type(2n){
        margin-top: 26px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__paragraph{
        margin: 48px 0 0;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .place__paragraph:nth-of-type(2n){
        margin-top: 26px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .place__paragraph{
        margin: 48px 0 0;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .place__paragraph:nth-of-type(2n){
        margin-top: 26px;
    }
}

@media screen and (min-width: 1280px){
    .place__paragraph{
        margin: 48px 0 0;
        width: 484px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .place__paragraph:nth-of-type(2n){
        margin-top: 26px;
    }
}