

@media screen and (min-width: 320px) and (max-width: 768px) {
    .intro{
        width: 92%;
        margin: 64px 16px 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro{
        width: 720px;
        margin: 88px auto;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .intro{
        width: 690px;
        margin: 92px auto 92px 48px;
    }
}

@media screen and (min-width: 1280px){
    .intro{
        width: 690px;
        margin: 92px auto 92px 148px;
    }
}