

@media screen and (min-width: 320px) and (max-width: 768px) {
    .lead__subtitle{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        margin: 0 16px 40px;
    }
    
}

@media screen and (min-width: 768px){
    .lead__subtitle{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        width: 640px;
        margin: 0 auto 64px;
    }
}