
@media screen and (min-width: 320px) and (max-width: 768px) {
    .cover__overlay{
        width: 100%;
        height: calc(200px - 33px);
        padding-top: 33px;
    }
    
    .cover__overlay:hover{
        background-image: url(../../../images/__overlay.png);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__overlay{
        width: 100%;
        height: calc(480px - 115px);
        padding-top: 115px;
    }
    
    .cover__overlay:hover{
        background-image: url(../../../images/__overlay.png);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .cover__overlay{
        width: 100%;
        height: calc(640px - 195px);
        padding-top: 195px;
    }
    
    .cover__overlay:hover{
        background-image: url(../../../images/__overlay.png);
    }
}

@media screen and (min-width: 1280px){
    .cover__overlay{
        width: 100%;
        height: calc(740px - 245px);
        padding-top: 245px;
    }
    
    .cover__overlay:hover{
        background-image: url(../../../images/__overlay.png);
    }
}
