

@media screen and (min-width: 320px) and (max-width: 768px) {
    .cover__title{
        width: 288px;
        margin: 0 auto 16px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
         font-weight: 900;
        font-size: 32px;
         line-height: 35px;
         color: #FFFFFF;  
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__title{
        width: 560px;
        margin: 0 auto 32px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        color: #FFFFFF;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .cover__title{
        width: 560px;
        margin: 0 auto 32px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1280px){
    .cover__title{
        width: 560px;
        margin: 0 auto 32px;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        color: #FFFFFF;
    }
}
