

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__top{
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    }
}
@media screen and (min-width: 768px) {
    .place__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}